/*!
 * Green Color
 */

h1, h2, h3, h4 {
	color: #0B610B;
}

.section a {
	background: #0B610B;
}

.section:hover .title {
	border-left: 5px #0B610B solid;
}

.section-item.semiactive {
	background: #BDE0BD;
}

.section-item.inactive {
	background: #D9F7D9;
}